.dashboard{
  background: linear-gradient(to right top, #342c4a, #4f3558, #6c3d62, #8a4668, #a65069, #b05b6e, #b96573, #c27079, #bd7b85, #b68590, #af8f98, #a8999e);
  height: 100vh;
  width: 100vw;
}

.lists-block{
  display: flex;
  border: 1px dotted red;
  width: 100vw;
  justify-content: center;
}

.list{
  width: 50%;
}

.calculator-card {
  width: 400px;
  box-sizing: border-box;
  background-color: rgba(1,1,1,0.2);
  border-radius: 2em;
  margin-left: 100px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.budget-card{
  
  margin-top: 10px;
  width: 300px;
  height: 400px;
  padding: 15px 20px;
  border-radius: 2em;
  box-sizing: border-box;
  background-color: rgba(1,1,1,0.2);
  box-shadow: 1px 49px 800px 0px rgba(0, 0, 0, 0.452);

  
  

}

#budget-face{
  width: 260px;
  height: 365px;
  border-radius: 1.7em;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 1px 49px 800px 0px rgba(0, 0, 0, 0.452);
  
  
}

.budget-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.logo-dash {
  width: 100px;
}



/* linear-gradient(to right top, #342c4a, #4f3558, #6c3d62, #8a4668, #a65069, #b05b6e, #b96573, #c27079, #bd7b85, #b68590, #af8f98, #a8999e); */